<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prosafe Living</title>
  <meta name="description" content="A Template by Denis Griu"/>
  <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, onepage, responsive, mobile"/>
  <meta name="author" content="Denis Griu"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="template_assets/img/favicon.ico" type="image/x-icon">

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,500,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

  <!-- Css Global Compulsory -->
  <link rel="stylesheet" href="/template_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- Css Implementing Plugins -->
  <!-- <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">                           -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/template_assets/plugins/revolution/css/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/template_assets/plugins/revolution/css/extralayers.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/template_assets/plugins/revolution/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" href="/template_assets/plugins/owl/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/template_assets/plugins/owl/owl-carousel/owl.theme.css">
  <link rel="stylesheet" href="/template_assets/plugins/cube/cubeportfolio.css">
  <link rel="stylesheet" href="/template_assets/plugins/jquery.mmenu.css">

  <!-- Css Theme -->
  <link rel="stylesheet" href="/template_assets/css/style.css">
</head>
<body>

  <!--Start Preloader -->
  <div id="preloader">
    <div class="preloader-container">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
  <!-- End Preloader-->

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top header-nav" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href="/"><img style="height: 71px; position: relative; top: -28px;" src="/template_assets/img/logo2.jpg"> </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" >
          <!-- <li class="active"><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="services.html">Guidelines</a></li> -->

          {{# each navLinks}}
          <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
            <a href="{{ href }}">{{ label }}</a>
          </li>
          {{/each}}

          {{#unless user}}

          <a href="#"  data-toggle="modal" data-target="#myModal"><button class="buttonn gold-btn f-action " id="singinButton">
            Sign in
          </button></a>

          {{/unless}}
          <!-- {{#if user }}
          <div class="showUser "> {{user.name.first}}  </div>
          {{else}}
          <a href="#"  data-toggle="modal" data-target="#myModal"><button class="buttonn gold-btn f-action " id="singinButton">
          Sign in
        </button></a>
        {{/if}} -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content text-center">
              <div class="modal-header">
                <button type="button" class="close close-black" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
              <div class="modal-body">
                <!-- Login Form (name, email, phone and message inputs for your email form "should change your email adress in contact.php file") -->
                <div id="contact">
                  <div id="message"></div>
                  <form method="post" action="/login" name="loginForm" id="loginForm">
                    <fieldset>
                      <div class="col-md-12">
                        <!-- Name -->
                        <!-- <input name="name" type="text" id="name" size="30" value="" placeholder="Name"/>
                        <br /> -->
                        <!-- Email -->
                        <input name="email" type="text" id="email" size="30" value="" placeholder="Email" required/>
                        <br />
                        <!-- Password -->
                        <input name="password" type="password" id="password" size="30" value="" placeholder="Password" required/>
                        <input name="action" type="hidden" value="login"/>

                        <!-- Message -->
                        <!-- <textarea name="comments" cols="40" rows="5" id="comments" placeholder="Message"></textarea> -->

                        <!-- Submit Button -->
                        <button type="submit" class="btn black-btn blog-btn submit" id="submit" value="Submit">Sign in</button>

                      </div>
                      <div style="float:right">
                        Not a member yet ? <button type="button" id="registerHere" class="formButton"> Register Here </button>
                      </div>
                    </fieldset>
                  </form>
                  <form method="post" action="/register" id="registrationForm" class="hide">
                    <fieldset>
                      <div class="col-md-12">
                        <!-- Name -->
                        <input name="name" type="text" id="name" size="30" value="" placeholder="Name" required/>
                        <br />
                        <!-- Email -->
                        <input name="email" type="email" id="email" size="30" value="" placeholder="Email" required/>
                        <br />

                        <input name="phone" type="tel" id="phone" size="30" value="" placeHolder="Phone" required/>
                        <br />
                        <!-- Password -->
                        <input name="password" type="password" id="password" size="30" value="" placeholder="Password" required/>

                        <input name="action" type="hidden" value="register"/>

                        <div class="alert alert-danger text-left" role="alert">
                          Please verify your email after registering, to sign in
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn black-btn blog-btn submit" id="submit" value="Submit">Register</button>

                      </div>
                      <div style="float:right">
                        Already a member? <button type="button" id="signin" class="formButton"> Sign in </button>
                      </div>
                    </fieldset>
                  </form>

                </div>
                <!-- End Contact Form -->
              </div>
            </div>
          </div>
        </div>
        <script src="../js/registrationForm.js"> </script>

        <!-- <li><a href="blog.html">Blog</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <i class="fa fa-angle-down fa-lg"></i></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="onepage_dark.html">One Page Dark</a></li>
        <li><a href="onepage_slider.html">One Page Slider</a></li>
        <li><a href="onepage_video.html">One Page Video</a></li>
        <li><a href="onepage_nav_bottom.html">One Page Bottom Nav</a></li>
        <li><a href="onepage-canvas.html">One Page Off-Canvas</a></li>
        <li><a href="index-m.html">Multi-Page</a></li>
        <li class="divider"></li>
        <li><a href="shortcodes.html">Shortcodes</a></li>
        <li><a href="404_page.html">404 Error</a></li>
        <li><a href="coming_soon.html">Coming Soon</a></li>
      </ul>
    </li>     -->
    <!-- <li><a href="contact.html">Contact</a></li> -->
  </ul>
  <div style="display: inline-block; float:right ">
    <div class="userName">  <i style="margin-top:27px" class="fa fa-whatsapp "></i>  <b> <a href="tel:+919810328939"> +91-9810328939 </a></b> </div>
    <div class="userName">  <i style=" margin-left:25px" class="fa fa-envelope "></i>  <b> <a href="mailto:prosafe.living@gmail.com"> prosafe.living@gmail.com </a> </b> </div>
    <div class="userName dropdown dropdown-toggle">
      {{#if user}}
      <user class="dropdown-toggle userPointer" data-toggle="dropdown" style=" margin-left:25px"> <b> {{user.name.first}} {{user.name.last}}</b> <span class="caret"></span></user>
      {{/if}}
      <ul class="dropdown-menu">
        <li><a href="/signout?action=signout">Logout</a></li>
      </ul>

    </div>
  </div>



  <!-- <span>
  <button class="buttonn gold-btn">
  Login
</button>
</span> -->
</div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->
</nav>
<!-- Navbar -->

{{{body}}}

<!-- Footer -->
<div class="footer-big">
  <div class="container">
    <div class="row">
      <!-- About Us Information -->
      <div class="col-md-2 col-sm-6">
        <div class="f-logo">
          <h2>Our<br>Office</h2>
        </div>
      </div>

      <!-- Recent Posts -->
      <div class="col-md-2 col-sm-6 f-inner f-s-16">
        <div class="col-sm-10">
          <strong>Delhi</strong>
          <address>
            H-83, Harkesh Nagar <br> Okhla Phase-II -110020 <br>
            <abbr title="Phone">P:</abbr> +91-9810328939
            prosafe.living@gmail.com
          </address>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="f-logo">
          <h2 style="text-transform: uppercase;">Our<br>Brands &amp;<br>International Tieups</h2>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="brand-img text-center col-md-5 p-t-23 col-xs-12" style="padding-left: 0px;">
          <img class="kdesign" src="/template_assets/img/brands/kdesign.png">
          <div class="brand-country">Italy</div>
        </div>
        <div class="brand-img text-center col-md-7 p-t-23 col-xs-12">
          <div class="col-xs-12">
            <img style="height: 60px;" src="/template_assets/img/brands/lm-global-design.png">
            <div class="brand-country">Ireland</div>
          </div>
          <div class="p-t-18 col-xs-12">
            <img style="height: 29px;" src="/template_assets/img/brands/profilio.png">
            <div class="brand-country">Italy</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="footer" class="visible-xs">
  <div class="container">
    <div class="row">
      <!-- Copyright -->
      <!-- <div class="col-sm-6 col-md-6 f-copyright">
      <span>© Copyright - All Rights Reserved</span>
    </div>
    <div class="col-sm-6 col-md-6"> -->
    <!-- Social Icons -->
    <ul class="footer-social">
      <li><a href="tel:+919810328939"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-phone fa-stack-1x fa-inverse"></i></span></a></li>
      <!-- <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
      <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-skype fa-stack-1x fa-inverse"></i></span></a></li>
      <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li> -->
    </ul>
  </div>
</div><!-- /row -->
</div><!-- /container -->
</div>
<!-- End Footer -->

<script>
{{#if messages.error}}
var errorMessage = '{{messages.error}}';
if (errorMessage !== '[object Object]') {
  alert(errorMessage);
}
{{/if}}



</script>

<!-- jQuery Plugins -->
<script src="/template_assets/plugins/jquery-1.11.1.min.js"></script>
<script src="/template_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/template_assets/plugins/revolution/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/template_assets/plugins/revolution/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/template_assets/plugins/cube/jquery.cubeportfolio.min.js"></script>
<script src="/template_assets/plugins/owl/owl-carousel/owl.carousel.js"></script>
<script src="/template_assets/plugins/moderniz.js"></script>
<script src="/template_assets/plugins/jquery.sticky.js"></script>
<script src="/template_assets/plugins/jquery.mmenu.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/template_assets/js/app.js"></script>
</body>
</html>
