<div class=BannerImageContainer>
  <div class="tp-banner-container" id="home">
    <div class="tp-banner">

      <ul>

        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb1.jpg"  data-saveperformance="off"  data-title="Slide">

          <!-- MAIN IMAGE -->
          <div class:"sliderImg">
            <img style="width:100%; height:400px" src="template_assets/img/slider-images/image_01.jpg"  alt="fullslide1"  data-bgposition="left top" data-bgrepeat="no-repeat">
                  <!-- <div class="banner-text"><span> Inside every older person </br> is a younger person wondering what happened </span> </div> -->
          </div>
          <!-- LAYERS -->

        </li>
        <!-- END SLIDE -->

        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb2.jpg"  data-saveperformance="off"  data-title="Slide">

          <!-- MAIN IMAGE -->
          <div class="sliderImg">
            <img style="width:100%; height:400px" src="template_assets/img/slider-images/image_02.jpg"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- <div class="banner-text second-banner" style="left: 68% !important;"><span> Old age isn't so bad <br> when we consider the alternatives</span> </div> -->
          </div>
        </li>
        <!-- END SLIDE  -->

        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb3.jpg"  data-saveperformance="off"  data-title="Slide">


          <!-- MAIN IMAGE -->
          <div class:"sliderImg">
            <img style="width:100%; height:400px" src="template_assets/img/slider-images/image_03.png"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          </div>
          <!-- END MAIN IMAGE -->
          <div style="font-size: 40px !important; " class="tp-caption slider-text lfb ltt tp-resizeme text-left"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="140"
              data-speed="200"
              data-start="800"
              data-easing="Power4.easeOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="200"
              data-endeasing="Power4.easeIn"
              style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
              <b style="color: white;">Choose the best products at the best prices</b>
              <!-- <a href="/contact" class="btn gold-btn">Get In Touch</a> -->
          </div>
          <!-- LAYER NR. 2 -->
          <!-- <div class="tp-caption lfb ltt tp-resizeme slider-text text-center"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="160"
            data-speed="600"
            data-start="900"
            data-easing="Power4.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="500"
            data-endeasing="Power4.easeIn"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
            <a href="/contact" class="btn gold-btn">Get In Touch</a>
          </div> -->

      </li>
      <!-- END SLIDE  -->

      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb3.jpg"  data-saveperformance="off"  data-title="Slide">


        <!-- MAIN IMAGE -->
        <div class:"sliderImg">
          <img style="width:100%; height:400px" src="template_assets/img/slider-images/image_04.png"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </div>
        <!-- END MAIN IMAGE -->
      </li>
      <!-- END SLIDE  -->

      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="500" data-thumb="template_assets/img/slider-images/thumb3.jpg"  data-saveperformance="off"  data-title="Slide">


        <!-- MAIN IMAGE -->
        <div class:"sliderImg">
          <img style="width:100%; height:400px" src="template_assets/img/slider-images/image_05.png"  alt="fullslide8"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div class="banner-text second-banner"><span>Need any help...Just a call away!</div>
        </div>
        <!-- <div style="font-size: 30px !important; " class="tp-caption slider-text lfb ltt tp-resizeme text-left"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="150"
            data-speed="200"
            data-start="800"
            data-easing="Power4.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="200"
            data-endeasing="Power4.easeIn"
            style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
            <b style="background: rgba(1, 148, 66, 0.83); padding:20px; color: white; border-radius: 50%; width: 100px;height: 100px;"><span style="color: #fff;">Need any help...Just a call away!</span></b>

            <a href="/contact" class="btn gold-btn">Get In Touch</a>
        </div> -->
        <!-- END MAIN IMAGE -->
      </li>
      <!-- END SLIDE  -->

    </ul>

  </div>
</div>
</div>
<!-- End Slider -->

<!-- Site Wrapper -->
<div class="padding-top">

  <!-- Who We Are -->
  <div class="container">


    <div class="row">
      <div class="col-md-10 col-md-offset-1 about-caption text-center">
        <!-- Section General Title -->
        <div class="general-title">
          <h2>Who We Are</h2>
          <div class="space-bottom-2x"></div>
        </div>
        <p>We provide various friendly toilet products for disabled, handicapped persons, senior citizens & ageing parents that can easily be installed at your homes, hospitals, hotels, spas, universities, malls & public utility areas.
        </p>
        <div class="space-bottom-2x"></div>
      </div>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
<!-- End Who We Are -->

<!-- Our Services -->
<div style="background-color: #f2f2f2;">
  <div class="container padding-top text-center" id="services" >
    <div class="row">
      <div class="general-title">
        <h2>WHAT MORE DO WE STRIVE TO PROVIDE</h2>
        <div class="space-bottom-2x"></div>
      </div>
      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box">
        <!-- Icon -->
        <i class="fa fa-check fa-3x"></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Quality Standards</h3>
        </div>
        <p>Prosafe’s experience in design support on existing layout saves space and allows a safer working environment.</p>
      </div>

      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box service-box-l">
        <!-- Icon -->
        <i class="fa fa-clock-o fa-3x"></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Save Time</h3>
        </div>
        <p>Right equipment can save significant time in transferring, and safety to users as well as other family member’s piece of mind.</p>
      </div>

      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box service-box-l">
        <!-- Icon -->
        <i class="fa fa-thumbs-up fa-3x"></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Enhanced Comfort</h3>
        </div>
        <p>Prosafe’s innovative product range combined with understanding our user’s needs, ensures the transfer is comfortable, safe and stable.</p>
      </div>

      <hr>

      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box-none">
        <!-- Icon -->
        <i class="fa fa-cogs fa-3x "></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Optimize Space</h3>
        </div>
        <p>Prosafe’s experience in design support on existing layout saves space and allows a safer working environment.</p>
      </div>

      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box-none service-box-l">
        <!-- Icon -->
        <i class="fa fa-heart fa-3x "></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Focus on Caring</h3>
        </div>
        <p>Prosafe’s transfer equipment enables the carer to fully concentrate on the user, ensuring the transfer, and care is easy, safe and streamlined.</p>
      </div>

      <!-- Service Item (title, icon and description for your service) -->
      <div class="col-sm-4 col-md-4 service-box-none service-box-l">
        <!-- Icon -->
        <i class="fa fa-book fa-3x "></i>

        <!-- Title and Description -->
        <div class="service-title">
          <h3>Prosafe’s  Knowledge & Experience</h3>
        </div>
        <p>For every situation handling for independent living or assisted living, Prosafe have the knowledge and experience in specifying the correct specialist equipment.</p>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</div>
<!-- End Our Services -->


<!-- From Blog -->
<section class="padding-top" id="blog">
  <div class="container">
    <!-- Section General Title -->
    <div class="general-title text-center">
      <h2>Featured products</h2>
      <div class="space-bottom-2x"></div>
    </div>
    <div class="row">

      <!-- <div id="grid-container" class="cbp-l-grid-team">
        <ul>
          {{#each products}}
            <li class="cbp-item ideas motion text-center box-shadow-green">
              <div style="border: 1px solid #009440;border-radius: 4px;">
                <a class="defaultWrap text-center" href="/products?filter={{id}}">
                  <img src="{{image.0.url}}" alt="{{title}}" style="width: 200px;height: 170px;width: auto;">
                  <div class="text-center">
                    <a href="/products/{{id}}" class="cbp-l-grid-blog-title cbp-singlePage">{{title}}</a>
                  </div>
                </a>
              </div>

            </li>
          {{/each}}
        </ul>
      </div> -->
      <div id="grid-container" class="cbp-l-grid-masonry cbp-caption-overlayBottom">
        <ul>
          <!-- Portfolio Item (image and description) -->
          {{#each products}}
          <li class="cbp-item {{#each categories}}{{id}}{{/each}} cbp-l-grid-masonry-height2">
            <a class="cbp-caption" data-title="{{title}}" href="/products/{{id}}">
              <div class="cbp-caption-defaultWrap">
                <img src="{{image.0.url}}" alt="">
              </div>

              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">{{title}}</div>
                  </div>
                </div>
              </div>
            </a>
          </li>

          {{/each}}

        </ul>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</section>
<!-- End From blog -->



<!-- Our Clients -->
<div id="our-clients">
  <div class="padding-bottom padding-top container text-center">
    <!-- Section General Title -->
    <div class="general-title">
      <h4>Our Clients</h4>
      <div class="space-bottom-2x"></div>
    </div>
    <div class="row">

      <div id="owl-demo">
        <img src="images/hilton.png" alt="Hilton Hotels">
        <img src="images/lalit.png" alt="Lalit Group of Hotels">
        <img src="images/lemontree.png" alt="Lemon Tree Hotels">
        <img src="images/mariott.png" alt="Mariott Hotels & Resorts">
        <img src="images/novotel.png" alt="Novotel Hotels">
        <img src="images/radisson.png" alt="Radisson Hotels">
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</div>
<!-- End Our Clients -->

<!-- Testimonials -->
<!-- <div id="testimonials">
<div class="container text-center padding-bottom padding-top-x2">
<div class="general-title">
<h2>From Clients</h2>
<div class="space-bottom-2x"></div>
</div>
<div class="row">
<div id="owl-testimonials" class="owl-carousel owl-theme">

<div class="item">
<div class="col-md-8 col-md-offset-2 t-info">
<p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<b>- Hermione Granger</b>
</div>
</div>

<div class="item">
<div class="col-md-8 col-md-offset-2 t-info">
<p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<b>- Harry Potter</b>
</div>
</div>

<div class="item">
<div class="col-md-8 col-md-offset-2 t-info">
<p>Featured Category Title, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<b>- Ginny Wesley</b>
</div>
</div>

</div>
</div>
</div>
</div> -->
<!-- End Testimonials -->


</div><!-- /site-wrapper -->
<!-- End Site Wrapper -->

<!-- Call to Action -->
<!-- <div class="cta-section padding-top-x2 padding-bottom" style="display: none">
<div class="container text-center">
<div class="cta-title">
<h2>Want to work with us?</h2>
<div class="space-bottom-2x"></div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
<div class="space-bottom-2x"></div>
<a href="contact.html" class="btn gold-btn">Get In Touch</a>
</div>
</div>
</div>
</div> -->
