<!-- Header Background Parallax Image -->
<!-- <div id="projects_bg">
<div class="head-title">
<h2>Prodct Details</h2>
</div>
</div> -->
<!-- End Header Background Parallax Image -->
<!-- Product details -->
<div class="container padding-bottom padding-top-x2">
   <div class="row product-cont">
      <div class="col-md-2">

      {{#each data.product.image}}
        {{#ifeq @index 0 }}
          <span>
             <img class="productImage" src="{{url}}" style=" border-radius: 4px;margin:20px; width:90px; height:75px; padding: 10px; margin-bottom:2px; border: 1px solid #009440; cursor:pointer; ">
          </span>
        {{else}}
          <span>
             <img class="productImage" src="{{url}}" style=" border-radius: 4px;margin:20px; width:90px; height:75px; padding: 10px; margin-bottom:2px; cursor:pointer;border: 1px solid #f2f2f2; ">
          </span>
        {{/ifeq}}

      {{/each}}
   </div>

   <div class="col-md-3 text-left" style="padding-top: 40px;">
      <img id="primaryImage" src="{{data.product.image.0.url}}" style="max-width: 100%;max-height: 100%;">
   </div>
   <div class="general-title col-md-7">
      <h2 style="margin-bottom: 15px;"> {{data.product.title}} </h2>
      <h4> {{data.product.details}} </h4>
      {{#if user}}
        <h2 style="margin-top: 30px;"> Technical Details </h2>
        <h4> {{data.product.technical}} </h4>
      {{else}}
        <a href="#" data-toggle="modal" data-target="#myModal"><button class="buttonn gold-btn f-action " id="singinButton">
           Technical Details
        </button></a>
      {{/if}}
   </div>


   <!-- <div class="general-title" style="float: right;width: 57%; margin-top: 12%;">
   <h3> Please register yourself and signin to see product's technical details. </h3>
</div> -->



<script src="../js/displayProduct.js"></script>

</div><!-- /row -->
</div><!-- /container -->
<!-- End Projects -->
