<div class="container padding-bottom padding-top-x2">
  <div class="row product-cont">
    <div class="col-md-2">

      {{#each data.product.image}}
      {{#ifeq @index 0 }}
      <span>
        <img class="productImage" src="{{url}}" style=" border-radius: 4px;margin:20px; width:90px; height:75px; padding: 10px; margin-bottom:2px; border: 1px solid #009440; cursor:pointer; ">
      </span>
      {{else}}
      <span>
        <img class="productImage" src="{{url}}" style=" border-radius: 4px;margin:20px; width:90px; height:75px; padding: 10px; margin-bottom:2px; cursor:pointer;border: 1px solid #f2f2f2; ">
      </span>
      {{/ifeq}}

      {{/each}}
    </div>

    <div class="col-md-3 text-left" style="padding-top: 40px;">
      <img id="primaryImage" src="{{data.product.image.0.url}}" style="max-width: 100%;max-height: 100%;">
    </div>
    <div class="general-title col-md-7">
      <h3 style="margin-bottom: 15px;">{{data.product.title}}</h3>
      <p class="pre-wrap">{{data.product.details}}</p>
      <h3 style="margin-top: 30px;margin-bottom: 15px;">Technical Details</h3>
      {{#if user}}
        <p class="pre-wrap" style="margin-bottom: 15px;">{{data.product.technical}}</p>
        <a style="padding: 7px; margin-left: 0px;margin-top: 15px;" target="_blank" href="/file?path={{uc data.product.guideline.path}}/{{data.product.guideline.filename}}" class="buttonn gold-btn">Download Guideline</a>
      {{else}}
        <p>Please login to see product's technical details and guidelines. </p>
      {{/if}}

    </div>
  </div><!-- /row -->

  <section class="row">
    <div class="general-title text-center">
      <h3>Related products</h3>
      <div class="space-bottom-2x"></div>
    </div>
    <div id="grid-container" class="related-products cbp-l-grid-masonry cbp-caption-overlayBottom">
      <ul>
        {{#each data.related}}
        <li class="cbp-item cbp-l-grid-masonry-height2">
          <a class="cbp-caption" data-title="{{title}}" href="/products/{{id}}">
            <div class="cbp-caption-defaultWrap">
              <img src="{{image.0.url}}" alt="">
            </div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title" title="{{title}}">{{title}}</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
</div><!-- /container -->
<!-- End Projects -->
<script src="../js/displayProduct.js"></script>
